body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #222;
}

header {
    background-color: #c8102e; /* Vermelho */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border: 2px solid #c8102e; /* Borda vermelha */
    border-radius: 5px;
}

section h2 {
    color: #c8102e; /* Títulos em vermelho */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222; /* Preto */
    color: white;
}

/* Estilo do botão */
button {
    background-color: #c8102e; /* Vermelho */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a50024; /* Vermelho mais escuro */
}